In [2]:
import pandas as pd
import sqlite3

In [4]:
orders_df = pd.read_csv(r"C:\Users\priya\Downloads\orders.csv")
orders_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [5]:
users_df = pd.read_json(r"C:\Users\priya\Downloads\users.json")
users_df.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [8]:
with open(
   r"C:\Users\priya\Downloads\restaurants.sql", "r"
) as f:
    sql_script = f.read()

In [11]:
orders_df = pd.read_csv(
    r"C:\Users\priya\Downloads\orders.csv"
)

users_df = pd.read_json(
    r"C:\Users\priya\Downloads\users.json"
)

with open(
    r"C:\Users\priya\Downloads\restaurants.sql", "r"
) as f:
    sql_script = f.read()

In [12]:
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

with open("restaurants.sql", "r") as f:
    sql_script = f.read()

cursor.executescript(sql_script)
conn.commit()

restaurants_df = pd.read_sql(
    "SELECT * FROM restaurants",
    conn
)

restaurants_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'restaurants.sql'